<!DOCTYPE html>
<html xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html"/>
  <head>
    <title>${h.shelf_title(shelf)}</title>
    <script>
      $(document).ready(function() {
          $('ol.shelves li').textScroller({
          });
      });
    </script>
  </head>
  <body>
    <header>
      <div class="return"><a py:if="shelf.parent" href="${r.route_url('shelf', sid=shelf.parent.id, _query=r.params)}">&larr; Back to ${h.shelf_title(shelf.parent)}</a></div>
      <h1>${h.shelf_title(shelf)}</h1>
    </header>
    <article>
      <div class="intra-shelf">
        <a py:if="prev" href="${r.route_url('shelf', sid=prev.id, _query=r.params)}">&uarr; Previous set of shelves &uarr;</a>
        <span py:if="not prev">&uarr; Previous set of shelves &uarr;</span>
      </div>
      <ol class="shelves">
        <li py:for="shelf in shelves" class="type-${'result' if shelf.id in matches else 'other'}">
          <a href="${r.route_url('shelf', sid=shelf.id, _query=r.params)}">
            <span class="shelfmarks">${h.shelf_title(shelf)}</span>
            <span class="keywords">${shelf.keywords}<span class="keywords-scroll">${shelf.keywords}</span></span>
          </a>
        </li>
      </ol>
      <div class="intra-shelf">
        <a py:if="next" href="${r.route_url('shelf', sid=next.id, _query=r.params)}">&darr; Next set of shelves &darr;</a>
        <span py:if="not next">&darr; Next set of shelves &darr;</span>
      </div>
    </article>
  </body>
</html>