<!DOCTYPE html>
<html xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html"/>
  <head py:with="key='2e93c237dd6bb16294b7df4e6be9578f';secret='16088fdc45ee2c2f'">
    <title>Explore the Stacks</title>
    <script>
      $(document).ready(function() {
          $('ol.books').illustrationBrowser({
        	  flickr: {
        		  url: "${r.route_url('flickr')}",
        		  key: "${key}"
        	  },
        	  spinner: "${r.static_url('ets:static/img/spinner.gif')}"
          });
      });
    </script>
  </head>
  <body>
    <header>
      <div class="return"><a href="${r.route_url('shelves', _query=r.params)}">&larr; Back to the overview</a></div>
      <h1>Shelves: ${shelf.start.title} - ${shelf.end.title}</h1>
      <h2>Keywords: ${shelf.keywords}</h2>
    </header>
    <article>
      <ol class="books">
        <li py:for="book in books" class="type-${'result' if book.id in matches else 'shelf'}">
          <div class="content">${' '.join(book.attrs['title'])}</div><!--
          --><div class="overlay"><a href="#" data-id="${book.id}" data-illustrations="${h.json.dumps([i.flickr_id for i in book.illustrations])}" title="${' '.join(book.attrs['title'])}">${' '.join(book.attrs['title'])}</a></div>
        </li>
      </ol>
    </article>
  </body>
</html>