[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyramid = "*"
sqlalchemy = "*"
pyramid-tm = "*"
"zope.sqlalchemy" = "*"
waitress = "*"
decorator = "*"
mimeparse = "*"
formencode = "*"
elasticsearch = "*"
lxml = "*"
kajiki = "*"
asset = "*"
"psycopg2" = "*"
gensim = "*"
spacy = "*"
"ee2e623" = {file = "https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.0.0/en_core_web_sm-2.0.0.tar.gz"}

[dev-packages]

[requires]
python_version = "3.6"
